body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;

    background-image: url('bg.jpg');
    background-size: cover; /* Adjusts the image size to cover the entire viewport */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Fixes the background image in place */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

h1 {
    color: #333;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.hidden {
    display: none;
}
